*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}

.debug{
    border: 5px solid white;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: calc(100% - 90px);
}

#side-bar{
    width: 250px;
    background-color: var(--color-black);
    height: 100%;
}

#side-bar img{
    width: 170px;
    padding: 10px 5px;
}

.column{
    flex-direction: column;
}

#side-bar .fa-solid{
    font-size: 25px;
}

#side-bar h4{
    padding: 6px 5px;
    margin: 5px;
}

#side-bar li{
    padding: 6px 5px;
    font-size: 15px;
}

#side-bar li:hover{
    font-size: 16px;
    transition: 0.5s;
}

#side-bar a:hover{
    color: var(--color-white);
}

#side-bar #user{
    font-size: 15px;
}

#side-bar #info{
    font-size: 15px;
}

.top-sidebar{
    height: calc(100% - 80px);
}

#bot-sidebar{
    height: 80px;
    color: var(--color-grey);
    position: relative;
    bottom: 60px;
    background-color: var(--color-black);
}

#main-content{
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    color: var(--color-grey);
    overflow-y: auto;
    padding: 95px 10px 20px 20px;

}

#top-bar{
    background-color: var(--color-black);
    width: calc(100% - 250px);
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.5;
}

.box-button{
    width: 100%;
    height: 75px;
    position: relative;
}

button{
    background-color: var(--color-black);
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px;
    color: var(--color-white);
    position: absolute;
    right: 40px;
    top: 20px;
}

button:hover{
    cursor: pointer;
    padding: 12px;
    transition: 0.5s;

}

.row{
    margin: 10px 0px;
}

img{
    width: 100%;
    display: block;
}

.card{
    width: calc(100% / 6 - 10px);
    margin-right: 25px;
}

.card-image{
    width: 100%;
    position: relative;
    transition: all 1.5s;
}

.icon-hover{
    font-size: 60px;
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card-image:hover{
    opacity: 0.3;
    cursor: pointer;
}

.card-image:hover .icon-hover{
    display: block;
}

.card-text{
    width: 100%;
    font-size: 15px;
    padding: 5px;
}

h3{
    padding: 10px;
    color: var(--color-white);
}

h2{
    padding: 10px 0px;
    color: var(--color-white);
}


p{
    padding: 10px 0px;
}

li{
    list-style: none;
}

#main-content li{
    margin: 0px 10px;

}

#main-content nav{
    margin-bottom: 30px;
}

#main-content nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0px;
}

a{
    text-decoration: none;
    margin: 5px;
    color: var(--color-grey);
}

/* utilityes */

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.circle img{
    border-radius: 50%;
}

.space-between{
    justify-content: space-between;
}

.itemscenter{
    align-items: center;
}

.white{
    color: var(--color-white);
}

.overflow{
    overflow-y: auto;
}

.border-top{
    border-top: 1px solid var(--color-grey)

}

/* Playbar */

#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}

#playbar img{
    width: 60px;
}

#playbar h3{
    font-size: 12px;
    padding: 3px 10px;
}

#playbar p{
    padding: 3px 10px;
    color: var(--color-white);
    font-size: 9px;
}

#playbar .fa-heart{
    color: var(--color-grey);
}

#playbar .fa-folder{
    color: var(--color-grey);
}

#playbar i{
    padding: 0px 15px;
    font-size: 15px;
    color: var(--color-white);
}

#playbar #play{
    font-size: 23px;
}

 input[type="range"]{
    margin-right: 15px;
    width: 100px;
    height: 3px;
    background-color: var(--color-grey);
    vertical-align: middle;
}

/* hover #main-content a*/

#main-content ul li a{
    cursor: pointer;
    position: relative;
}

#main-content ul li a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--color-highlight);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

#main-content ul li a:hover::after{
    transform: scaleX(1);
}

.marginlr{
    margin: 0px 10px;

}

@media screen and (max-width:1200px){
    
    .wrap{
         flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 4 - 30px);
    }

}

@media screen and (max-width:992px){
    
    .card{
        width: calc(100% / 3 - 30px);
    }

}

@media screen and (max-width:768px){

    .card{
        width: calc(100% / 2 - 30px);
    }
    
}
@media screen and (max-width:576px){

    .card{
        width: calc(100% / 1 - 30px);
    }
    
}